<!-- <nav>
  <button type="button" (click)="toggle()">Toggle Open/Close</button>
</nav>

<div [@openClose]="isOpen ? 'aqua' : 'blue'" class="open-close-container">
  <p [@Test123]="isOpen ? 'false' : 'true'">The box is now {{ isOpen ? 'Open' : 'Closed' }}!</p>
</div>

<div [@Test123]="isOpen ? 'false' : 'true'">
  <p>The box is now {{ isOpen ? 'Open' : 'Closed' }}!</p>
</div>

<div @flyInOut *ngIf="isShown" class="insert-remove-container"
      (@flyInOut.start)="start()" (@flyInOut.done)="done()">
  <p style="text-align:center;">The box is inserted</p>
</div> -->

<button routerLink="/anime1">anime1</button>
<button routerLink="/anime2">anime2</button>

<div [@routeAnimations]="getRouteAnimationData()">
  <router-outlet></router-outlet>
</div>